*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: repeat;
    background-size: 120px;

}
h1{
   font-size: 38px;
   font-weight: 900;
   color:darkblue;
   margin-bottom: 40px;
}
.container{
background-color: rgb(255, 255, 255,0.8);
padding: 30px;
border-radius: 20px;
box-shadow: 0 4px 15px rgba(0,0,0,0.2);
text-align: center;
}
h2{
    gap:20px;
    display: flex;
}
.emoji img{
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 9px;
    transition: background-color 0.3s ease;
}
button{
    font-size: 20px;
    font-weight: 800;
    color: white;
    background-color:darkred;
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}
button:hover{
    background-color: rgb(150, 43, 43);
}
